/* xi. **************         RESET         ****************** */
/* *********************************************************** */

/* v2.0 | 20110126 - MEYER RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1;
	margin: 0;
}

*, :after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body {
	height: 100%;
	line-height: 1;
	margin: 0 !important;
}

ol, ul {
	list-style: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table, tr, td {
	padding: 0;
}

img {
	display: block;
	border: 0;
	border-style: none;
}

a, a:hover, a:focus, a:active, a[href^="tel"] {
	background-color: transparent;
	color: inherit;
	text-decoration: none;
	outline: 0;
}

/* xii. *************         TOOLS         ****************** */
/* *********************************************************** */

.flex-full {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-row {	flex-direction: row; }
.flex-col {	flex-direction: column; }
.flex-ai-fs { align-items: flex-start; }
.flex-ai-fe { align-items: flex-end; }
.flex-jc-fs { justify-content: flex-start; }
.flex-jc-fe { justify-content: flex-end; }
.flex-jc-sb { justify-content: space-between; }

.fs-1 { font-size: 2.5rem; }
.fs-2 { font-size: 2rem; }
.fs-3 { font-size: 1.5rem; }
.fw-700 { font-weight: 700; }

.w-100 { width: 100%; }

@keyframes arrow {
	0%   { padding-top: 0; }
	50%  { padding-top: 1rem; }
	100% { padding-top: 0; }
}

code { color: rgb(196, 196, 196); }
.ct-ele { color: #6591ff; }
.ct-class { color: #7ef2ff; }
.ct-sm { color: rgb(86, 255, 67); }
.ct-attr { color: rgb(255, 175, 71); }
.ct-text { color: #fff; }

/* 1. ***************         SETUP         ****************** */
/* *********************************************************** */

html {
	background-color: #fff;
	font-size: 18px;
	color: #252525;
	font-family: 'Varela Round', sans-serif;;
}

body {
	line-height: 1.2;
}

.preload {
	background-color: #fff;
	transition: 1s;
	opacity: 1;
	position: absolute;
	width: 100%;
	height: 50vh;
	z-index: 99999;
}

/* 2. ***************         SETUP         ****************** */
/* *********************************************************** */

.content-wrapper {
	width: 100%;
	max-width: 1100px;
}

.code-snippet {
	padding: 1px 6px 2px 6px;
    font-size: 90%;
    border-radius: 3px;
    background-color: #2c2c2c;
	color: rgb(63, 226, 30);
	white-space: nowrap;
    font-family: 'Source Code Pro', monospace;
}

/* 3. ***************         STYLES        ****************** */
/* *********************************************************** */

/* HERO */

.hero-section {
	width: 100%;
	height: 100vh;
	background: url("./images/blue-swoosh-1.svg") bottom center;
	background-repeat: no-repeat;
}

.hero-container {
	width: 100%;
	height: 50vh;
}

.hero-logo {
	width: 220px;
	margin-right: 2rem;
}

.hero-title-container {
	width: 100%;
	max-width: 542px;
}

.hero-title {
	margin-bottom: 0.5rem;
}

h1 {
	text-shadow: #fff 3px 0px 0px,#fff -3px 0px 0px;
	-webkit-font-smoothing: antialiased;
	z-index: 999;
}

.hero-title-line {
	width: 296px;
	height: 4px;
	border-radius: 5px;
	transform: translate(0, -8px);
	background: #0098ff; /* Old browsers */
	background: -moz-linear-gradient(left,  #0098ff 0%, #5214e9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #0098ff 0%,#5214e9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #0098ff 0%,#5214e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0098ff', endColorstr='#5214e9',GradientType=1 ); /* IE6-9 */
}

.hero-subtitle {
	flex-wrap: wrap;
	text-align: left;
	margin-bottom: 1rem;
}

.github-link,
.github-link:active,
.github-link:focus {
	position: relative;
	color: #fff;
	padding: 10px 18px;
	border-radius: 100px;
	/* transition: 1s; */
	background: #0098ff; /* Old browsers */
	background: -moz-linear-gradient(left,  #0098ff 0%, #5214e9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #0098ff 0%,#5214e9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #0098ff 0%,#5214e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0098ff', endColorstr='#5214e9',GradientType=1 ); /* IE6-9 */
}

.github-icon {
	position: absolute;
	width: 20px;
	right: 10px;
	opacity: 0;
	transition: 1s;
}

/* ARROW */

.hero-arrow-container {
  opacity: 0;
	animation-name: arrow;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.hero-arrow-text {
	margin-bottom: 0.5rem;
}

.hero-arrow {
	width: 23px;
}

/* ABOUT */

.about-container {
	position: relative;
	width: 100%;
	background-color: #c2e6ff;
	padding: 4rem;
}

.about-desc-container {
	width: 66%;
}

.about-bars-container {
	width: 27%;
}

.about-desc-title {
	margin-bottom: 1rem;
}

.about-motion-lines {
	display: inline;
	width: 28px;
}

.about-desc {
	margin-bottom: 1rem;
	line-height: 1.4;
}

.about-list {
	line-height: 1.75;
	margin-bottom: 1.6rem;
}

.about-list-text {
	position: relative;
}

.about-list-text::after {
	position: absolute;
	content: "";
	width: 50%;
	height: 4px;
	border-radius: 4px;
	left: 0;
    top: 26px;
}

.about-list li:nth-child(1) .about-list-text::after {
	background-color: #107efb;
	width: 20%;
}

.about-list li:nth-child(2) .about-list-text::after {
	background-color: #2163f6;
	width: 28%;
}

.about-list li:nth-child(3) .about-list-text::after {
	background-color: #3149f2;
	width: 36%;
}

.about-list li:nth-child(4) .about-list-text::after {
	background-color: #422eed;
	width: 44%;
}

.about-list li:nth-child(5) .about-list-text::after {
	background-color: #5214e9;
	width: 52%;
}

.about-bar {
    width: 90%;
    height: 35px;
    border-radius: 40px;
	margin-bottom: 1.65rem;
}

.about-bar:nth-child(odd) {
	margin-left: 10%;
}

.about-bar:nth-child(even) {
	margin-right: 10%;
}

.about-bar:nth-child(1) {
	background-color: #0098ff;
}

.about-bar:nth-child(2) {
	background-color: #0e82fb;
}

.about-bar:nth-child(3) {
	background-color: #1b6cf8;
}

.about-bar:nth-child(4) {
	background-color: #2956f4;
}

.about-bar:nth-child(5) {
	background-color: #3740f0;
}

.about-bar:nth-child(6) {
	background-color: #442aed;
}

.about-bar:nth-child(7) {
	background-color: #5214e9;
}

.about-bar:last-child {
	margin-bottom: 0;
}

.about-swoosh {
	width: 100%;
}

/* EXAMPLES */

.example-container {
	position: relative;
	width: 100%;
	padding: 4rem;
}

.example-title-container {
	width: 100%;

}

.example-title {
	margin-bottom: 4rem;
}

.example {
	width: 100%;
  margin-bottom: 4rem;
}

.example:last-of-type {
  margin-bottom: 0;
}

.example-number-container {
	min-width: 50px;
	max-width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 1rem;
}

.example-number-container-1 {
	background-color: #0098ff;
}

.example-number-container-2 {
	background-color: #5214e9;
}

.example-number {
	color: #fff;
}

.example-code-container {
	width: 100%;
}

.example-code-title {
	padding-top: 0.5rem;
	margin-bottom: 1rem;
}

.example-code-box {
  width: 43%;
  margin-left: calc(50px + 1rem);
}

.example-code {
	width: 100%;
	padding: 0 1rem;
  font-size: 90%;
  border-radius: 5px 5px 0 0;
  background-color: #1E1E1E;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
}

.example-code {
	/* white-space: pre; */
}

.example-demo-container {
    width: 46%;
    /* border: 2px solid #0098ff; */
    /* background-color: rgb(244 244 244); */
    /* box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.05); */
    border-radius: 3px;
}

.example-reset-button {
  width: 100%;
  padding: 1rem;
  border-radius: 0 0 5px 5px;
  background-color: #0098ff;
  border: none;
  color: #fff;
  cursor: pointer;

  outline: none;
}

.button-purple {
  background-color: #5214e9;
}

.example-demo-1 {
	min-height: 377px;
}

.example-dist {
	text-align: center;
	width: 75%;
	border-radius: 100px;
	padding: 1.5rem 0.5rem;
	margin-bottom: 1.65rem;
	font-size: 1.25rem;
	color: #fff;
	background-color: #0098ff;
}

.example-dist:last-child {
	margin-bottom: 0;
}

.example-demo-2 {
	position: relative;
	min-height: 472px;
}

.example-time {
	text-align: center;
	width: 75%;
	border-radius: 100px;
	padding: 1.5rem 0.5rem;
	margin-bottom: 1.65rem;
	font-size: 1.25rem;
	color: #fff;
	background-color: #5214e9;
}

.example-time:last-child {
	margin-bottom: 0;
}

.example-demo-3 {
	position: relative;
	min-height: 358px;
}

.example-delay {
	position: absolute;
    left: 13%;
    top: 36%;
	text-align: center;
	width: 75%;
	border-radius: 100px;
	padding: 1.5rem 0.5rem;
	font-size: 1.25rem;
	color: #fff;
	background-color: #0098ff;
}

.example-demo-4 {
	min-height: 320px;
}

.example-transform {
	text-align: center;
	width: 49.5%;
	border-radius: 100px;
	padding: 1rem 0.33rem;
	font-size: 0.825rem;
	color: #fff;
	background-color: #5214e9;
}

.example-demo-5 {
	min-height: 339px;
}

.example-nest-1,
.example-nest-2 {
	min-width: 75%;
	border-radius: 100px;
	padding: 1rem;
}

.example-nest-1 {
	background-color: #5214e9;
}

.example-nest-2 {
	background-color: #2956f4;
}

.example-nest-3 {
	text-align: center;
	min-width: 75%;
	border-radius: 100px;
	padding: 1rem;
	color: #fff;
	background-color: #0098ff;
	font-size: 1.25rem;
}

/* footer */

footer {
  /* background-color: #c2e6ff; */
}

.footer-swoosh {
  position: relative;
  top: 2px;
  width: 100%;
}

.footer-container {
  width: 100%;
  background-color: #c2e6ff;
  padding: 2rem 4rem 6rem;
}

.footer-content {
  /* padding: 4rem; */
}

.footer-link,
.footer-link:active,
.footer-link:focus,
.footer-link:visited {
  font-weight: 500;
  color: #5214e9;
  text-decoration: underline;
}

.footer-github {
  transition: 1s;
}

/* Z. ***************     MEDIA QUERIES     ****************** */
/* *********************************************************** */

@media (pointer: fine) {
    .github-link:hover {
		color: #fff;
		padding-right: 36px;
	}

    .github-link:hover .github-icon {
		opacity: 1;
	}
}
 
@media only screen and (max-width: 1200px) {
	/* Small desktops */
}
 
@media only screen and (max-width: 920px) {
	/* Tablets */
}
 
@media only screen and (max-width: 767px) {
	/* Large phones */
}
 
@media only screen and (max-width: 575px) {
	/* Small fixes */
}