/* xi. **************         RESET         ****************** */
/* *********************************************************** */

/* v2.0 | 20110126 - MEYER RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1;
	margin: 0;
}

*, :after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body {
	height: 100%;
	line-height: 1;
	margin: 0 !important;
}

ol, ul {
	list-style: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table, tr, td {
	padding: 0;
}

img {
	display: block;
	border: 0;
	border-style: none;
}

a, a:hover, a:focus, a:active, a[href^="tel"] {
	background-color: transparent;
	color: inherit;
	text-decoration: none;
	outline: 0;
}

/* xii. *************         TOOLS         ****************** */
/* *********************************************************** */

.flex-full {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-row {	flex-direction: row; }
.flex-col {	flex-direction: column; }
.flex-ai-fs { align-items: flex-start; }
.flex-ai-fe { align-items: flex-end; }
.flex-jc-fs { justify-content: flex-start; }
.flex-jc-fe { justify-content: flex-end; }
.flex-jc-sb { justify-content: space-between; }

.color-primary { color: #0098ff; }
.color-bg-primary { background-color: #0098ff; }
.color-accent { background-color: #5214e9; }
.color-bg-accent { background-color: #5214e9; }

.w-100 { width: 100%; }

.fs-1 { font-size: 2.5rem; }

@keyframes arrow {
	0%   { padding-top: 0; }
	50%  { padding-top: 1rem; }
	100% { padding-top: 0; }
}

/* 1. ***************         SETUP         ****************** */
/* *********************************************************** */

html {
	background-color: #fff;
	font-size: 18px;
	color: #252525;
	font-family: 'Varela Round', sans-serif;;
}

html, body {
	overflow: hidden;
}

.preload {
	background-color: #fff;
	transition: 333ms;
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
}

/* 1. ***************         STYLES        ****************** */
/* *********************************************************** */

/* HERO */

.hero-section {
	width: 100%;
	height: 100vh;
	background: url("./images/blue-swoosh-1.svg") bottom center;
	background-repeat: no-repeat;
}

.hero-container {
	width: 100%;
	height: 50vh;
}

.hero-logo {
	width: 200px;
	margin-right: 2rem;
}

.hero-title-container {
	width: 542px;
}

.hero-title {
	margin-bottom: 0.5rem;
}

h1 {
	text-shadow: #fff 3px 0px 0px,#fff -3px 0px 0px;
	-webkit-font-smoothing: antialiased;
	z-index: 999;
}

.hero-title-line {
	width: 296px;
	height: 4px;
	border-radius: 5px;
	transform: translate(0, -5px);
	background: #0098ff; /* Old browsers */
	background: -moz-linear-gradient(left,  #0098ff 0%, #5214e9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #0098ff 0%,#5214e9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #0098ff 0%,#5214e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0098ff', endColorstr='#5214e9',GradientType=1 ); /* IE6-9 */
}

.hero-subtitle {
	flex-wrap: wrap;
	text-align: left;
	margin-bottom: 1rem;
}

.hero-github-link,
.hero-github-link:visited,
.hero-github-link:focus {
	color: #fff;
	padding: 10px 18px;
	border-radius: 100px;
	background: #0098ff; /* Old browsers */
	background: -moz-linear-gradient(left,  #0098ff 0%, #5214e9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #0098ff 0%,#5214e9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #0098ff 0%,#5214e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0098ff', endColorstr='#5214e9',GradientType=1 ); /* IE6-9 */
}

.github-icon {
	position: absolute;
	width: 20px;
	right: 9px;
	opacity: 0;
	transition: 1s;
}

/* ARROW */

.hero-arrow-container {
	animation-name: arrow;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.hero-arrow-text {
	margin-bottom: 0.5rem;
}

.hero-arrow {
	width: 38px;
}

/* Z. ***************     MEDIA QUERIES     ****************** */
/* *********************************************************** */

@media (pointer: fine) {
    .hero-github-link:hover {
		color: #fff;
		padding-right: 36px;
	}

    .hero-github-link:hover .github-icon {
		opacity: 1;
	}
}

@media only screen and (max-width: 1440px) { 
    /* WRAPPER BREAK (1440) */
}

@media only screen and (max-width: 1050px) { 
    /* SMALL DESKTOP */
}

@media only screen and (max-width: 960px) { 
    /* TABLET */
}

@media only screen and (max-width: 600px) { 
    /* MOBILE */
}

@media only screen and (max-width: 360px) { 
    /* SMALL FIXES */
}